---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.8</h1>

## _Python-Dictionaries.ipynb_
#### [Click me to learn more about Python Dictionaries](https://www.geeksforgeeks.org/python-dictionary/)

<img align="center" width="800" height="800"  src="images/datatypes1.png" >

- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).
- From Python version 3.7 onwards, dictionaries are ordered, however, are not indexed like Lists rather indexed on key values.
- The dictionaries are used when you have to store million of `key:value` pairs and want to search a value given the key efficiently.

## Learning agenda of this notebook
* **Motivation to use Dictionary**
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements of a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Sorting Dictionary values
8. Aliasing vs Shallow Copy vs Deep Copy

In [1]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Motivation to use Dictionary

In [2]:
students = ['rauf', 'arif', 'maaz', 'hadeed', 'mujahid']
marks = [81, 52, 70, 74, 78]

In [3]:
def get_marks(name):
    i = students.index(name)
    return marks[i]

In [4]:
get_marks('hadeed')

74

In [5]:
get_marks('maaz')

70

## 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

In [6]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':22
}
print(dict1)
print(type(dict1))
print(id(dict1))

{'arif': 51, 'rauf': 52, 'hadeed': 22}
<class 'dict'>
140419669449344

In [7]:
# A dictionary with integer keys, and string values, showing a symbol table generated by compiler
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
dict2

{2580: 'var1', 2582: 'var2', 2586: 'var3'}

In [8]:
# dictionary with mixed keys (immutable types only)
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

In [9]:
# creating dictionary using dict() method
dict4 = dict({1: 'hello', 2: 'bye'})
dict4

{1: 'hello', 2: 'bye'}

In [10]:
# Creating an empty dictionary
dict5 = dict()
dict5

{}

In [11]:
# other way to create empty dictionary
dict6 = {}
dict6

{}

In [12]:
# A list of two object tuples can also be used to create dictionaries
dict7 = dict([('name', 'arif'), ('age',51), ('city', 'Lahore')])
dict7

{'name': 'arif', 'age': 51, 'city': 'Lahore'}

## 2. Proof of concepts

### a. Dictionary allows Duplicate Values

In [13]:
# Duplicate values are allowed
d1 = {'name1' : 'kakamanna',
     'name2' : 'kakamanna'
     }
d1

{'name1': 'kakamanna', 'name2': 'kakamanna'}

### b. Dictionary DOESNOT allows Duplicate Keys

In [14]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = {'name' : 'kakamanna',
     'name' : 'arif'
     }
d1

{'name': 'arif'}

### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type (number, string, tuple)

In [15]:
# Tuple being immutable can be used as a key
d1 = {'kakamanna':'name', 
      (60, 78, 83): 'marks' 
     }
d1

{'kakamanna': 'name', (60, 78, 83): 'marks'}

In [16]:
# List being mutable cannot be used as a key
d1 = {'kakamanna':'name', 
      [60, 78, 83]:'marks' 
     }
d1

TypeError: unhashable type: 'list'

### d. Values inside Dictionaies can be of mutable/immutable data type

In [17]:
# List being mutable can be used as a value
d1 = {'nam':'kakamanna', 
      'marks':[60,78,83] 
     }
d1

{'nam': 'kakamanna', 'marks': [60, 78, 83]}

In [18]:
# Tuple being immutable can also be used as a value
d1 = {'nam':'kakamanna', 
      'marks': (60,78,83) 
     }
d1

{'nam': 'kakamanna', 'marks': (60, 78, 83)}

### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [19]:
dict3 = {
    'name': 'kakamanna', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

{'name': 'kakamanna', 1: 10, 'abc': 25, 33: 'xyz'}

### f. Dictionaries can be nested to arbitrary depth

In [20]:
# Creating a Nested Dictionary
dict7 = {'name':'arif', 
         'occupation':'teaching',
        'address':{'house#' : 131, 'area' : 'model town', 'city' : 'lahore'},
         'phone': '03214456454'
        }
 
dict7

{'name': 'arif',
 'occupation': 'teaching',
 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'},
 'phone': '03214456454'}

### g. Dictionaries from Python 3.7 onward are ordered
- From Python 3.7 onwards, dictionaries are guranteed to be in insertion ordered. i.e., every time you access dictionary elements they will show up in same sequence. 
- However, like string, list, and tuple, the elements of a dictionary are not associated by an index
- Moreover, two dictionaries having same key-value pairs are two different objects

In [21]:
d1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d1
d2 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
d2
d3 = {
    'rauf':52, 
    'hadeed':20,
    'arif':51
}
id(d1), id(d2), id(d3)

(140419669239424, 140419668292416, 140419668418176)

## 3. Accessing Elements of a Dictionary

### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [22]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [23]:
d1['address']

'Johar Town'

In [24]:
d1.get('marks')

[60, 75, 80]

**To retrieve a value from a nested dictionary**

In [25]:
d2 = {'name':'arif', 
      'occupation':'teaching',
      'address':{'house#' : 131, 
                 'area' : 'model town', 
                 'city' : 'lahore'
                }
        }
d2

{'name': 'arif',
 'occupation': 'teaching',
 'address': {'house#': 131, 'area': 'model town', 'city': 'lahore'}}

In [26]:
d2['address']

{'house#': 131, 'area': 'model town', 'city': 'lahore'}

In [27]:
d2['address']['city']

'lahore'

In [28]:
d2.get('address')

{'house#': 131, 'area': 'model town', 'city': 'lahore'}

In [29]:
d2.get('address').get('city')

'lahore'

### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [30]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [31]:
l1 = d1.items()
l1

dict_items([('name', 'kakamanna'), ('age', 22), ('address', 'Johar Town'), ('marks', [60, 75, 80])])

### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

In [32]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [33]:
d1.keys()

dict_keys(['name', 'age', 'address', 'marks'])

### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [34]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [35]:
d1.values()

dict_values(['kakamanna', 22, 'Johar Town', [60, 75, 80]])

## 4. Adding/Modifying Elements of a Dictionary

### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [36]:
# Create a simple dictionary
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [37]:
# Modify value corresponding to an existing key
d1['address'] = 'Model Town'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80]}

In [38]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Model Town',
 'marks': [60, 75, 80],
 'key1': 'value1'}

### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [39]:
# Create a simple dictionary
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [40]:
# Modify value corresponding to an existing key
d1.update({'name':'Arif Butt'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [41]:
# Adding a new key:value pair
d1.update({'key2':'value2'})
d1

{'name': 'Arif Butt',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80],
 'key2': 'value2'}

**You can use the `dict.update()` method to merge two dictionaries**

In [42]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
}

d2 = {
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}

In [43]:
d1.update(d2)
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

## 5. Removing Elements from a Dictionary

### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [44]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [45]:
del d1['age']
d1

{'name': 'kakamanna', 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [46]:
#this will delete the whole directory
del d1
print(d1)  # will generate an error now

NameError: name 'd1' is not defined

### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned
- Raises KeyError if the dict is empty

In [47]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [48]:
d1.popitem()

('marks', [60, 75, 80])

In [49]:
d1.popitem()

('address', 'Johar Town')

In [50]:
d1

{'name': 'kakamanna', 'age': 22}

### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value only of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [51]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [52]:
d1.pop('name')

'kakamanna'

In [53]:
d1

{'age': 22, 'address': 'Johar Town', 'marks': [60, 75, 80]}

In [54]:
#d1.pop('nokey') #This will raise an error

### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [55]:
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town', 
    'marks':[60, 75, 80]
}
d1

{'name': 'kakamanna',
 'age': 22,
 'address': 'Johar Town',
 'marks': [60, 75, 80]}

In [56]:
d1.clear()

In [57]:
d1

{}

## 6. Dictionary, Tuple and List conversions

In [58]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
d1

{'Name': 'Kakamanna',
 'Sex': 'Male',
 'Age': 23,
 'Height': 6.1,
 'Occupation': 'Student'}

In [59]:
# The items() method, returns an object of dict_items containing two value tuples
rv = d1.items()
print(rv)
print("\n", type(rv))

dict_items([('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student')])

 <class 'dict_items'>

In [60]:
# You can convert dictionary key-value pairs into a tuple containing two valued tuples
t1 = tuple(d1.items())
print(t1)
print("\n", type(t1))

(('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student'))

 <class 'tuple'>

In [61]:
#converting dictionary keys only into a tuple
t1 = tuple(d1.keys())
print(t1)
print("\n", type(t1))

('Name', 'Sex', 'Age', 'Height', 'Occupation')

 <class 'tuple'>

In [62]:
#converting dictionary values only into a list
mylist = list(d1.values())
print("\n", mylist)
print(type(mylist))

 ['Kakamanna', 'Male', 23, 6.1, 'Student']
<class 'list'>

## 7. Sorting a Dictionary by Values
- We can use the built-in function `sorted(iterable)` to get a sorted copy of a dictionary (by value). 
- The `sorted(iterable)` returns a sorted version of the iterable, without making any change to the iterable. 
- It's syntax is quite similar to `list.sort()` method, however, the iterator to be sorted needs to be passed as a required parameteras shown below:
```
    sorted(iterable, key=None, reverse=False)
```
- By default the `reverse` argument is `False`, you override the default behavior by passing a `True` value to this argument to perform a descending sort
- A custom key function can also be supplied to customize the sort order.

**Consider the following dictionary having `names` as keys and `marks` as values**

In [63]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }
dict1

{'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}

In [64]:
sorted(dict1, reverse=True)

['rauf', 'mujahid', 'maaz', 'hadeed', 'arif']

**When you pass a dictionary object to the `sorted()` function, it will return the list of sorted dictionary keys**

In [65]:
d2 = sorted(dict1)
d2

['arif', 'hadeed', 'maaz', 'mujahid', 'rauf']

**You can pass the keys only to the `sorted()` function, to do the above task**

In [66]:
d2 = sorted(dict1.keys())
d2

['arif', 'hadeed', 'maaz', 'mujahid', 'rauf']

**Similarly you can pass the values only to the `sorted()` function, and it will return the list of sorted values**

In [67]:
d2 = sorted(dict1.values())
d2

[73, 76, 81, 90, 93]

**Let us do customized sorting with Python Dictionaries**

**Example 1: Suppose we have a dictionary containing student names along with their marks and we want to sort the dictionary by highest marks of the students first**

In [68]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }
dict1

{'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}

In [69]:
# Function receives a key:value tuple (key, value) and returns the value
def func1(item):
    return item[1]


mylist = sorted(dict1.items(), key = func1, reverse=True)

print(mylist)

[('mujahid', 93), ('arif', 90), ('rauf', 81), ('maaz', 76), ('hadeed', 73)]

Note the `sorted()` function returned a list object in which each element is a two valued tuple having (key,value) pairs. You can always typecast such lists to a dictionary object

In [70]:
sorted_dict = dict(mylist)
sorted_dict

{'mujahid': 93, 'arif': 90, 'rauf': 81, 'maaz': 76, 'hadeed': 73}

In [71]:
type(sorted_dict)

dict

**Example 2: Suppose we have a JSON array containing name, age and grades of students. We want to sort it by the age of the students.**
- JSON stands for JavaScript Object Notation
- JSON is a text format for storing and transporting data
- A JSON string has comma separated `key:value` pairs

In [72]:
# The following JSON array defines a student object with 3 properties: `name`, `age`, and `grade`
# It is actually a list containing dictionary objects each object containing three key:value pairs
students = [
         {"name": "Hashim", "age": 18, "grade": "B"},
         {"name": "Salman", "age": 11, "grade": "A"},
         {"name": "Mazhar", "age": 12, "grade": "C"},
         {"name": "Farhan", "age": 22, "grade": "D"},
         {"name": "Bilal", "age": 19, "grade": "A"},
         {"name": "Zalaid", "age": 17, "grade": "B"}
        ]
students

[{'name': 'Hashim', 'age': 18, 'grade': 'B'},
 {'name': 'Salman', 'age': 11, 'grade': 'A'},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C'},
 {'name': 'Farhan', 'age': 22, 'grade': 'D'},
 {'name': 'Bilal', 'age': 19, 'grade': 'A'},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B'}]

In [73]:
# Function receives a dictionary object and returns the value corresponding to key age in that dictionary
def func2(item):
     return item.get('age') #return item['age']

sorted_students = sorted(students, key = func2)

sorted_students

[{'name': 'Salman', 'age': 11, 'grade': 'A'},
 {'name': 'Mazhar', 'age': 12, 'grade': 'C'},
 {'name': 'Zalaid', 'age': 17, 'grade': 'B'},
 {'name': 'Hashim', 'age': 18, 'grade': 'B'},
 {'name': 'Bilal', 'age': 19, 'grade': 'A'},
 {'name': 'Farhan', 'age': 22, 'grade': 'D'}]

Note the `sorted()` function returned a list object in which each element is a dictionary object having three key:value pairs

## 8. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

### a. Aliasing: Making an Alias of a List object using simple Assignment `=` Operator
- In Python, we use `=` operator to create a copy/alias of an object. 
- Remember it doesnot create a new object, rather creates a new variable that shares the reference of the original object.

In [74]:
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }

dict2 = dict1

# Both references point to same memory object, so have the same ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140419669413952
ID of dict2: 140419669413952

In [75]:
# If you modify an element of one object, the change will be visible in both
dict2["maaz"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}
dict2: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}

### b. Shallow Copy
- We have used the `copy.copy()` method of copy module to create a shallow copy of List objects in our previous session
- To create a shallow copy of a list or dictionary, we can also use `copy()` method of List and Dictionary objects.

In [76]:
import copy
dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':76, 
        'hadeed':73,
         'mujahid':93, 
        }

#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140419640424064
ID of dict2: 140419640545856

In [77]:
# If you modify an element of one object, the change will NOT be visible in other
dict2["maaz"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': 76, 'hadeed': 73, 'mujahid': 93}
dict2: {'rauf': 81, 'arif': 90, 'maaz': 100, 'hadeed': 73, 'mujahid': 93}

**This seems woking fine, then why this is called shallow copy**

**Limitation of Shallow Copy**
- The word Shallow copy comes in picture when there is some object in dictionary like list or user define objects instead of primitive datatypes.
- The limitation of shallow copy is that it does not create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.
- Let us understand this by an example

In [78]:
import copy

dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':[55, 66, 77], #note we have a list of marks as a dictionary value
        'hadeed':73,
         'mujahid':93, 
        }
 
#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140419668402752
ID of dict2: 140419668423104

In [79]:
# If you modify a nested element of one object, the change will be visible in both
# This is the limitation of shallow copy

dict2["maaz"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}

dict2: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}

- **Marks of student 'maaz' has been changed in both :(**
- **So in case of a dictionary having primitive datatypes, the shallow copy works fine. However, when we have nested objects inside the dictionary the shallow copy does not work**
- **Lets solve this using deep copy**

### c. Deep Copy: Making a Copy of an Object using `copy.deepcopy()` Method
- Deep copy creates a new object and recursively creates independent copy of original object and all its nested objects.

In [80]:
import copy

dict1 = {'rauf': 81, 
         'arif':90, 
        'maaz':[55, 66, 77], 
        'hadeed':73,
         'mujahid':93, 
        }
 
dict2 = copy.deepcopy(dict1)

# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

ID of dict1: 140419640545856
ID of dict2: 140419640435712

In [81]:
# If you modify a nested element of one object, the change will be visible in other
dict2["maaz"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

dict1: {'rauf': 81, 'arif': 90, 'maaz': [55, 66, 77], 'hadeed': 73, 'mujahid': 93}

dict2: {'rauf': 81, 'arif': 90, 'maaz': [55, 0, 77], 'hadeed': 73, 'mujahid': 93}

# Visualize Python Code: https://pythontutor.com/

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. What is the `.get` method of a dictionary used for?
7. How do you change the value associated with a key in a dictionary?
8. How do you add or remove a key-value pair in a dictionary?
9. How do you access the keys, values, and key-value pairs within a dictionary?
10.Describe/Differentiate the concept of aliasing, shallow copy and deep copy using assignment statement, `dict.copy()`, `copy.copy()` and `copy.deepcopy()` methods
11.Practice sorting dictionaries having different types of `key:value` combinations